/** @format */
:root {
  --image-1: url("/image1.png");
  --image-2: url("/img2.jpg");
  --image-3: url("/img3.jpeg");
}

.container {
  display: flex;
  flex-direction: row;
  width: 50%;
  max-width: 35rem;
  gap: 0.5rem;
}

.image{
  display: flex;
  position: relative;
  top: 140px;
  margin-left: 140px;
  align-items: left;
}

.container .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: inherit;
  width: 100%;

}

/* intital css: 4, then add 5, and then add 3, then minus 1*/

.container .column-1 .item-1 {
  height: 11rem;
  animation: background 5s 150ms infinite ease-in-out;
}

.container .column-1 .item-2 {
  height: 13rem;
  animation: background 5s 274ms infinite ease-in-out;
}

.container .column-1 .item-3 {
  height: 10rem;
  animation: background 5s 350ms infinite ease-in-out;
}

.container .column-2 .item-1 {
  height: 11rem;
  animation: background 5s 150ms infinite ease-in-out;
}

.container .column-2 .item-2 {
  height: 16rem;
  animation: background 5s 274ms infinite ease-in-out;
}

.container .column-2 .item-3 {
  height: 10rem;
  animation: background 5s 350ms infinite ease-in-out;
}

.container .column-3 .item-1 {
  height: 13rem;
  animation: background 5s 280ms infinite ease-in-out;
}

.container .column-3 .item-2 {
  height: 12rem;
  animation: background 5s 310ms infinite ease-in-out;
}

.container .column-3 .item-3 {
  height: 10rem;
  animation: background 5s 350ms infinite ease-in-out;
}

.container .column .item {
  width: inherit;
  border-radius: 0.5rem;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes background {
  0% {
    background-image: var(--image-1);
  }
  30% {
    background-image: var(--image-1);
  }
  33% {
    background-image: var(--image-2);
  }
  66% {
    background-image: var(--image-2);
  }
  70% {
    background-image: var(--image-3);
  }
  100% {
    background-image: var(--image-3);
  }
}

/* About text section css */

.introduction{
  width: 525px;
  position: relative;
  top: -450px;
  left: 850px;
  color: rgba(238, 232, 232, 0.658);
}

.introduction h1{
  font-size: 45px;
  color: white;
}

.introduction h1 span{
  color: rgba(136, 255, 0, 0.582);
}

.introduction p{
  font-size: 20px;
  line-height: 1.4;
  color: rgba(238, 232, 232, 0.658);
}

.introduction button{
  font-size: 22px;
  all: unset;
  font-size: 22px;
  padding: 10px 25px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.2s 0s ease-in;
}

.introduction button:hover{
  background-color: white;
  color: black;
}