.contact-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-content .text h1{
    color: white;
    font-size: 80px;
    font-weight: 500;
    margin-left: 22%;
    transform: scaleY(1.2);
}

.contact-content .text h3{
    color: rgba(136, 255, 0, 0.582);
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 7px;
    margin-left: 17%;
}

.contact-content .text p{
    color: rgba(255, 253, 253, 0.588);
    font-size: 15px;
    font-weight: 500;
    margin-left: 27%;
}

.input{
    background-color: transparent;
    height: 50px;
    width: 330px;
    border-style: none;
    border-bottom: 2px solid rgba(136, 255, 0, 0.582);
    padding: 30px 0px 30px 5px;
    transition: all 0.3s ease-in-out;
    color: white;
    font-size: 20px;
}

.input:hover{
    transform: translate(0px,  -5px);
}

.name{
    margin-right: 50px;
}

.message{
    background-color: transparent;
    border-style: none;
    border-bottom: 2px solid rgba(136, 255, 0, 0.582);
    color: white;
    font-size: 20px;
    padding: 7px 0px 7px 7px;
    width: 100%;
    max-width: 100%;
    height: 150px;
    transition: all 0.3s ease-in-out;
}

.message:hover{
    transform: translate(0px,  -5px);
}

.contact_btn{
    background-color: transparent;
    border-style: none;
    color: rgba(136, 255, 0, 0.582);
    font-size: 15px;
    height: 65px;
    width: 150px;
    border: 2px solid rgba(136, 255, 0, 0.582);
    border-radius: 30px;
    transition: all 0.3s ease-in;
    margin-left: 80%;
    cursor: pointer;
}

.contact_btn:hover{
    color: black;
    background-color: rgba(136, 255, 0, 0.582);
}

.logo{
    margin-left: 42%;
    font-size: 20px;
}

.logo ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo ul li{
    display: inline;
    margin-right: 30px;
}

.logo ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease-in;
}

.logo ul li a:hover{
    color: rgba(136, 255, 0, 0.582);
    font-size: large;
}


