/* ------------------------- Infinite Scroll Effect: ---------------------------------- */
.carousel1{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.carousel1::-webkit-scrollbar{
  display: none;
}

.group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  animation: spin 5s infinite linear;
  padding-right: 2em;
}

.card1 {
  color: #e0e5e07a;
  flex: 0 0 1em;
  height: 2em;
  font-size: 8em;
  text-align: center;
  display: flex;
  justify-content: center;  
  align-items: center;   
  transform: scaleY(2.8);
  font-weight: 500px;
  margin-right: 20px;
}

@keyframes spin{
  from {translate: 0;}
  to {translate: -100%;}
}

.slider-wrapper {
  position: relative;
  top: 180px;
  width: 100%;
  height: 350px;
  overflow: hidden;
  background-color: transparent;
}



