/** @format */

.main_image {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.navbar {
  width: 83%;
  max-width: 1000px;
  height: 70px;
  margin: 65px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background-color: rgba(136, 255, 0, 0.582);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: relative;
 z-index: 1;
position: relative;  /* ensure z-index applies */
  overflow-x: hidden;
  transition: all 0s 0s ease-in;
}

.navbar__logo {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: transparent;
  color: rgb(34, 33, 33);
}

.navbar__logo:hover {
  color: #ffffff;
  cursor: pointer;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 5rem;
  background-color: transparent;
}

li {
  background-color: transparent;
}

.navbar__links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3rem;
  transition: color 0.3s ease;
  background: transparent;
  z-index: 3;
}

.navbar:hover {
  background-color: rgba(240, 234, 234, 0.377);
}

.navbar__links a:hover {
  color: #ffffff;
  background-color: transparent;
}

.navbar-tilt {
  width: 83%;
  margin: 2rem auto;
}

.profession {
  position: relative;
  width: 450px;
  top: 200px;
  left: 100px;
}

.im {
  color: rgba(238, 232, 232, 0.658);
}

.work {
  color: rgba(136, 255, 0, 0.582);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .navbar__links {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
}

.email {
  color: rgba(238, 232, 232, 0.712);
  position: relative;
  top: 160px;
  left: 77%;
  font-size: 20px;
  transition: all 0.3s 0s ease-in-out;
}

.email:hover{
  border-bottom: 2px solid rgba(136, 255, 0, 0.582);
}


.logo_main{
    margin-left: 76.5%;
    margin-top: 3%;
    font-size: 28px;
}

.logo_main ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo_main ul li{
    display: inline;
    margin-right: 60px;
}

.logo_main ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: all 0.1s ease-in;
}

.logo_main ul li a:hover{
    color: rgba(136, 255, 0, 0.582);
    font-size: 25px;
}

.backimg {
  position: absolute;
  top: -260px;
  left: 0;
  width: 100%;
  z-index: 2;
  pointer-events: none;
  
}
