/** @format */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: rgb(18, 18, 18);
  cursor: none;
}

.page1,
.page2,
.page3,
.page4,
.page5 {
  height: 100vh;
  width: 100%;
  background-color: rgb(18, 18, 18);
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  /* mix-blend-mode: difference; */
}

::selection {
  background: rgba(136, 255, 0, 0.6); /* your neon green */
  color: black;                       /* selected text color */
}

