/** @format */

.page1 {
  height: 100vh;
  width: 100%;
  background-color: rgb(18, 18, 18);
  position: relative;
}

.page2 {
  height: 100vh;
  width: 100%;
  background-color: rgb(18, 18, 18);
  position: relative;
}

.page3 {
  height: 100vh;
  width: 100%;
  background-color: rgb(18, 18, 18);
  position: relative;
}

.page4 {
  height: 100vh;
  width: 100%;
  background-color: rgb(18, 18, 18);
  position: relative;
}